@model teleScope.Models.Programme

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: #f6f5f9;
        color: #333;
        margin: 0;
        padding: 0;
    }

    h4 {
        font-size: 35px;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
    }

    dl {
        margin-top: 0px;
        margin-bottom: 0px;
        border-collapse: collapse;
        width: 100%;
        padding: 20px;
    }

    dt, dd {
        padding: 20px;
        border: 1px solid #ddd;
        text-align: left;
    }

    dt {
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #A7ECFF;
    }

    dd {
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #ecf0f1;
    }

    a {
        text-decoration: none;
        color: #16141f;
        font-weight: bold;
    }

        a:hover {
            color: #660066;
        }

    .back-link {
        margin-top: 20px;
        text-align: center;
    }

    .col {
        margin: 0;
        padding: 0;
    }

    .btn {
        background-color: #bfadd2;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        border: #bfadd2;
    }

    .btn:hover {
        background-color: #8b6bae;
     }

    .details {
        width: 80%;
    }

    .btn {
        background-color: #bfadd2;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        border: #bfadd2;
    }

    .btn:hover {
        background-color: #8b6bae;
    }

</style>
<h1>Details</h1>

<div>
    <h4>Programme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandlineMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandlineMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FixedCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FixedCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandlineFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandlineFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiveDigitFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiveDigitFee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProgramId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
