@model teleScope.Models.Call

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Call</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CallDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CallDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CallType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CallType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsIncoming)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsIncoming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone.PhoneId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CallId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
